*::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*Defines what 1rem is. 10px/16px = 62.5%*/ }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/*keyframes for the button's popout animation */
@keyframes popout {
  0% {
    transform: scaleX(1) scaleY(1);
    opacity: 1; }
  100% {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; } }

/* keyframes for the button's fade-in animation */
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* prevent text flicker on animation */
  margin-bottom: 3.5rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;
    animation: moveInLeft 2.5s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.3rem;
    animation: moveInRight 2.5s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #5f5f5f, #777777);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  margin-top: 0; }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  color: #777777;
  text-align: center;
  flex: 0 0 20%; }

.paragraph {
  font-size: 1.6rem;
  padding: 0.6rem 0;
  border-top: 1px solid #a0b6c6; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-mr-btm-sm {
  margin-bottom: 1.5rem; }

.u-mr-btm-md {
  margin-bottom: 4rem; }

.u-mr-btm-lg {
  margin-bottom: 8rem; }

.u-mr-l-sm {
  margin-left: 1.5rem; }

.u-mr-l-md {
  margin-left: 4rem; }

.u-mr-l-lg {
  margin-left: 8rem; }

.u-flex {
  display: flex;
  justify-content: center;
  align-items: center; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  /* STAY WHERE YOU ARE DAMN YOU */
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: none; }

.btn:focus {
  outline: none; }
  .btn:focus::after {
    background-color: #fff;
    animation: popout 0.75s forwards; }

.btn--white {
  background-color: #fff;
  color: #777777; }

.btn--animated {
  animation: moveInBottom 1.65s ease-out 0.75s;
  /* Animation starts 0.75s after page load to sync with keyframes */
  animation-fill-mode: backwards;
  /* Starts my animation from beginning */ }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #777777;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #a0b6c6;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn-text:active {
  transform: translateY(0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(55, 76, 92, 0.8), rgba(160, 182, 198, 0.8)), url(../img/herojob.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 87vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 20rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.composition {
  position: relative; }
  .composition__photo {
    width: 185%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0; }

.feature-box {
  height: 95%;
  background-color: #fefefe;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 2.5rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.05);
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }
  .feature-box__lbi {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background: linear-gradient(to right bottom, rgba(55, 76, 92, 0.8), rgba(160, 182, 198, 0.8));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent; }
  .feature-box__text {
    flex: 0 0 50%;
    border-top: 1px solid #a0b6c6;
    padding-top: 0.6rem;
    text-align: start;
    margin-top: auto; }

.form__group:not(:last-child) {
  margin-bottom: 1rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1rem 1.5rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 50%;
  display: block; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #a0b6c6; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff0000; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); } }

.heading-tertiary br {
  display: none; }

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(4, 1fr); } }

.grid {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  /* Default to 2 columns */
  gap: 3rem; }
  .grid__item {
    color: #777777;
    padding: 1rem;
    border-radius: 0.4rem; }
    .grid__item--1-col {
      grid-column: span 1; }
    .grid__item--2-cols {
      grid-column: span 2; }
    .grid__item--3-cols {
      grid-column: span 3; }
    .grid__item--4-cols {
      grid-column: span 4; }

/* Responsive breakpoints */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); } }

.heading-tertiary br {
  display: none; }

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr); } }

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(4, 1fr); } }

.section-about {
  width: 75%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #fefefe;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  margin: 50rem 0 20rem;
  background-image: linear-gradient(to right bottom, rgba(160, 182, 198, 0.8), rgba(55, 76, 92, 0.8)), url(../img/sydneyharb-1.jpg);
  background-size: cover;
  background-position: center; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, rgba(160, 182, 198, 0.8), rgba(55, 76, 92, 0.8)), url(../img/herojob.jpg);
  background-size: cover;
  background-position: center; }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/sydneyharb-1.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  height: 100%; }
  .book__form {
    width: 50%;
    padding: 4rem; }
