/*
0 - 600px: Phone
601px - 900px: Tablet portrait
901px - 1200px: Tablet landscape
1200px - 1800px: Normal desktop
1800px + : Big desktop


ORDER: base -> typography -> utilities -> components -> layout -> pages
*/
*::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 37.5em) {
    html {
      font-size: 43.75%;
      grid-template-columns: repeat(1, 1fr); } }
  @media (min-width: 37.5625em) and (max-width: 56.25em) {
    html {
      font-size: 47.5%; }
      html .grid {
        grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 56.3125em) and (max-width: 75em) {
    html {
      font-size: 50%; }
      html .grid {
        grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 75.0625em) {
    html {
      font-size: 75%; }
      html .grid {
        grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 112.5em) {
    html {
      font-size: 87.5%; }
      html .grid {
        grid-template-columns: repeat(4, 1fr); } }

body {
  box-sizing: border-box;
  padding: 1.5rem;
  background-color: #fefefe; }
  @media (max-width: 37.5em) {
    body {
      padding: 0;
      margin: 0; } }
  @media (min-width: 37.5625em) and (max-width: 56.25em) {
    body {
      margin: 0;
      padding: 0; } }
  @media (min-width: 56.3125em) and (max-width: 75em) {
    body {
      margin: 0;
      padding: 0; } }
  @media (min-width: 75.0625em) {
    body {
      margin: 0;
      padding: 0; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/*keyframes for the button's popout animation */
@keyframes popout {
  0% {
    transform: scaleX(1) scaleY(1);
    opacity: 1; }
  100% {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; } }

/* keyframes for the button's fade-in animation */
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* Keyframes for Nav fade out animation */
@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(0); } }

@keyframes showcontent {
  from {
    opacity: 0;
    transform: translate(0, 10rem); }
  to {
    opacity: 1;
    transform: translate(0, 0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* prevent text flicker on animation */
  margin-bottom: 3.5rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;
    text-align: center;
    animation: moveInLeft 2.5s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 0.5rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1.3rem;
    animation: moveInRight 2.5s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem;
        font-size: 3rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #5f5f5f, #333);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  margin-top: 0; }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  text-align: center; }
  .heading-tertiary__gallery {
    font-size: 2.75rem;
    font-weight: 700;
    opacity: 0;
    animation: showcontent 1s ease-in-out 1 forwards;
    line-height: 1.5; }
    @media (max-width: 37.5em) {
      .heading-tertiary__gallery {
        font-size: 1.75rem;
        margin-bottom: 3rem; } }
  .heading-tertiary__testimonial {
    font-style: italic;
    font-weight: 600;
    font-size: 1.6rem;
    width: 47%;
    border-bottom: 1px solid #a0b6c6; }
  .heading-tertiary__footer {
    text-transform: uppercase;
    color: #fefefe;
    font-size: 1.6rem;
    text-align: start;
    margin-top: 6rem;
    padding: 0.6rem 0;
    border-bottom: 1px solid #a0b6c6;
    width: 66.6%; }
    @media (max-width: 37.5em) {
      .heading-tertiary__footer {
        text-align: start; } }
    @media (min-width: 37.5625em) and (max-width: 56.25em) {
      .heading-tertiary__footer {
        width: 75%; } }

.paragraph {
  padding: 0.6rem 0;
  border-top: 1px solid #a0b6c6; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
  .paragraph__gallery {
    color: #fff;
    font-weight: 500;
    margin: 2rem 0;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.3s 1 forwards; }
    @media (min-width: 37.5625em) and (max-width: 56.25em) {
      .paragraph__gallery {
        width: 75%; } }

.u-center-text {
  text-align: center; }

.u-mr-btm-sm {
  margin-bottom: 1.5rem; }

.u-mr-btm-md {
  margin-bottom: 4rem; }

.u-mr-btm-lg {
  margin-bottom: 8rem; }

.u-mr-l-sm {
  margin-left: 1.5rem; }

.u-mr-l-md {
  margin-left: 4rem; }

.u-mr-l-lg {
  margin-left: 8rem; }

.u-flex {
  display: flex;
  justify-content: center;
  align-items: center; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
  border: none;
  cursor: pointer; }

.btn:hover {
  /* STAY WHERE YOU ARE DAMN YOU */
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: none; }

.btn:focus {
  outline: none; }
  .btn:focus::after {
    background-color: #fff;
    animation: popout 0.75s forwards; }

.btn--white {
  background-color: #fff;
  color: #333; }
  .btn--white:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff; }

.btn--gallery {
  padding: 10px 20px;
  border: none;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.6s 1 forwards; }

.btn--animated {
  animation: moveInBottom 1.65s ease-out 0.75s;
  /* Animation starts 0.75s after page load to sync with keyframes */
  animation-fill-mode: backwards;
  /* Starts my animation from beginning */ }

.btn--contact {
  padding: 1.5rem 3rem;
  border: none; }

.btn--nav {
  padding: 2rem 5rem;
  border: none; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #777777;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #a0b6c6;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn-text:active {
  transform: translateY(0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.buttons {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 222222;
  text-align: center;
  width: 100%; }
  .buttons button {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 1px solid #a0b6c6;
    transition: 0.5s; }
    .buttons button:hover {
      background-color: #000;
      color: #fff; }

.header {
  text-align: center;
  overflow-x: hidden;
  height: 65vh;
  margin-bottom: 5rem;
  background-image: linear-gradient(to right bottom, rgba(55, 76, 92, 0.8), rgba(160, 182, 198, 0.8)), url(../img/herojob.jpg);
  background-size: fit-content;
  background-position: center; }
  .header__text-box {
    padding: 0 2.5rem;
    text-align: center;
    margin-top: 10vh; }
  .header__btn-box {
    margin-top: 47vh; }
    @media (min-width: 56.3125em) and (max-width: 75em) {
      .header__btn-box {
        margin-top: 45vh; } }
    @media (min-width: 37.5625em) and (max-width: 56.25em) {
      .header__btn-box {
        margin-top: 40vh; } }
    @media (max-width: 37.5em) {
      .header__btn-box {
        margin-top: 37vh; } }

.composition {
  width: 100%; }
  .composition__container {
    text-align: center;
    width: 100%; }
  .composition__photo {
    width: 100%;
    height: auto; }
    @media (max-width: 37.5em) {
      .composition__photo {
        width: 60%; } }
    @media (min-width: 37.5625em) and (max-width: 56.25em) {
      .composition__photo {
        width: 100%; } }
    @media (min-width: 56.3125em) and (max-width: 75em) {
      .composition__photo {
        max-width: 60%;
        height: auto; } }
    @media (min-width: 75.0625em) {
      .composition__photo {
        max-width: 75%; } }

.feature-box {
  height: 95%;
  background-color: #fefefe;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 2.5rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.05);
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 37.5em) {
    .feature-box {
      width: 55%;
      margin: 0 auto; } }
  @media (min-width: 37.5625em) and (max-width: 56.25em) {
    .feature-box {
      width: 75%;
      margin: 0 auto; } }
  @media (min-width: 56.3125em) and (max-width: 75em) {
    .feature-box {
      width: 75%;
      margin: 0 auto; } }
  .feature-box__lbi {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background: linear-gradient(to right bottom, rgba(55, 76, 92, 0.8), rgba(160, 182, 198, 0.8));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent; }
  .feature-box__text {
    flex: 0 0 50%;
    border-top: 1px solid #a0b6c6;
    padding-top: 0.6rem;
    text-align: start;
    margin-top: auto; }

.form__group:not(:last-child) {
  margin-bottom: 1rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1rem 1.5rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 50%;
  display: block; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #a0b6c6; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff0000; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.testimonial__box {
  background-color: #fff;
  font-size: 1.5rem;
  padding: 3rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%; }
  @media (max-width: 37.5em) {
    .testimonial__box {
      width: 50%;
      margin: 0 auto; } }
  @media (min-width: 37.5625em) and (max-width: 56.25em) {
    .testimonial__box {
      width: 75%;
      margin: 0 auto; } }
  @media (min-width: 56.3125em) and (max-width: 75em) {
    .testimonial__box {
      width: 75%;
      margin: 0 auto; } }

.testimonial__quote {
  align-self: flex-start;
  margin-bottom: 4.5rem; }

.testimonial__content {
  text-align: center; }

.testimonial__info {
  align-self: flex-end;
  width: 100%;
  margin-top: auto; }

.gallery {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 1.5rem;
  flex-grow: 1;
  margin: 0 auto; }
  .gallery .container {
    position: relative;
    width: 90%;
    height: 90vh;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 1rem 1.5rem #000; }
    .gallery .container__slide {
      width: max-content;
      margin-top: 5rem; }

.item {
  width: 20rem;
  height: 30rem;
  background-position: 50% 50%;
  display: inline-block;
  transition: 0.5s;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2rem;
  box-shadow: 0 1.5rem 3rem #000; }
  @media (max-width: 37.5em) {
    .item {
      width: 35%;
      height: 40%;
      transform: translate(22.5%, -50%); } }
  @media (min-width: 37.5625em) and (max-width: 56.25em) {
    .item {
      width: 35%;
      height: 60%;
      transform: translate(20%, -50%); } }
  @media (min-width: 56.3125em) and (max-width: 75em) {
    .item {
      width: 35%;
      height: 60%;
      transform: translate(20%, -50%); } }
  @media (min-width: 75.0625em) {
    .item {
      width: 25%;
      height: 60%;
      transform: translate(-37.5%, -50%); } }
  @media (min-width: 112.5em) {
    .item {
      width: 15%;
      height: 60%;
      transform: translate(35%, -50%); } }
  .item:nth-child(1), .item:nth-child(2) {
    left: 0;
    top: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none; }
    .item:nth-child(1)::before, .item:nth-child(2)::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4225);
      z-index: 1; }
  .item:nth-child(3) {
    left: 60%; }
    @media (min-width: 75.0625em) {
      .item:nth-child(3) {
        left: calc(65% + 220px); } }
  .item:nth-child(4) {
    left: calc(60% + 220px); }
    @media (min-width: 37.5625em) and (max-width: 56.25em) {
      .item:nth-child(4) {
        left: calc(70% + 220px); } }
    @media (min-width: 56.3125em) and (max-width: 75em) {
      .item:nth-child(4) {
        left: calc(80% + 220px); } }
    @media (min-width: 75.0625em) {
      .item:nth-child(4) {
        left: calc(67% + 220px); } }
  .item:nth-child(5) {
    left: calc(60% + 440px); }
    @media (min-width: 75.0625em) {
      .item:nth-child(5) {
        left: calc(69% + 220px); } }
  .item:nth-child(n + 6) {
    left: calc(60% + 660px);
    opacity: 0; }
  .item:nth-child(2) .content {
    position: relative;
    display: block;
    z-index: 11111; }
  .item .content {
    position: absolute;
    top: 50%;
    left: 2.5rem;
    width: 30rem;
    text-align: left;
    padding: 0;
    color: #eee;
    transform: translate(0, -50%);
    display: none; }
    @media (max-width: 37.5em) {
      .item .content {
        width: 35%;
        left: 1.5rem; } }
    @media (min-width: 37.5625em) and (max-width: 56.25em) {
      .item .content {
        width: 35%;
        left: 1.5rem; } }
    @media (min-width: 75.0625em) {
      .item .content {
        left: 5rem; } }
    @media (min-width: 112.5em) {
      .item .content {
        left: 5rem; } }

.footer {
  background-color: #000;
  padding: 10rem 3rem;
  font-size: 1.4rem;
  align-items: center; }
  @media (max-width: 37.5em) {
    .footer {
      padding: 0 0.5rem; } }
  .footer__logo-box {
    text-align: center;
    margin: 0 auto; }
  .footer__logo {
    height: 30rem; }
  .footer__navigation {
    align-items: center; }
  .footer__list {
    padding: 0;
    list-style: none; }
  .footer__item {
    padding: 0.5rem 0; }
  .footer__link:link, .footer__link:visited {
    color: #fefefe;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: #e5e5e5;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: translateY(-3px); }
  .footer .footer__socials-links {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 2rem; }
    .footer .footer__socials-links > a:link, .footer .footer__socials-links > a:visited {
      color: #fefefe;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s; }
    .footer .footer__socials-links > a:hover, .footer .footer__socials-links > a:active {
      color: #e5e5e5;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
      transform: translateY(-3px); }
  .footer__copyright {
    text-align: center;
    font-size: 1.2rem;
    color: #fefefe; }
    .footer__copyright .paragraph {
      margin: 0 auto;
      width: 75%; }

.grid {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem; }
  .grid__item {
    color: #333;
    padding: 1rem;
    border-radius: 0.4rem;
    min-height: 10rem; }
    .grid__item--1-col {
      grid-column: span 1; }
    .grid__item--2-cols {
      grid-column: span 2; }
    .grid__item--3-cols {
      grid-column: span 3; }
    .grid__item--4-cols {
      grid-column: span 4; }

.navigation {
  margin-left: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000;
  font-family: inherit;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1); }
  .navigation__logo {
    overflow-x: hidden;
    height: auto;
    width: auto; }
    @media (min-width: 112.5em) {
      .navigation__logo {
        max-height: 30rem; } }
    @media (min-width: 75.0625em) {
      .navigation__logo {
        max-height: 20rem; } }
    @media (min-width: 56.3125em) and (max-width: 75em) {
      .navigation__logo {
        max-height: 15rem; } }
    @media (min-width: 37.5625em) and (max-width: 56.25em) {
      .navigation__logo {
        max-height: 10rem; } }
    @media (max-width: 37.5em) {
      .navigation__logo {
        max-height: 10rem; } }
  .navigation__cta {
    padding-left: 1rem; }
    @media (max-width: 37.5em) {
      .navigation__cta .btn {
        font-size: 1.4rem;
        padding: 1.5rem 2rem; } }
  .navigation__checkbox {
    display: none; }
  .navigation__navbar {
    display: none; }
  .navigation__button {
    display: inline-block; }
  @media (min-width: 56.3125em) and (max-width: 75em) {
    .navigation__navbar {
      display: none; }
    .navigation__button {
      display: inline-block; } }
  @media (min-width: 75.0625em) {
    .navigation__navbar {
      display: flex; }
    .navigation__button {
      display: none; } }
  @media (max-width: 37.5em) {
    .navigation__checkbox:checked ~ .navigation__mobile, .navigation__button, .navigation__icon {
      transform: scale(1.05); } }
  @media (min-width: 37.5625em) and (max-width: 56.25em) {
    .navigation__checkbox:checked ~ .navigation__mobile, .navigation__button, .navigation__icon {
      transform: scale(1.1); } }
  @media (min-width: 56.3125em) and (max-width: 75em) {
    .navigation__checkbox:checked ~ .navigation__mobile, .navigation__button, .navigation__icon {
      transform: scale(1.1); } }
  .navigation__checkbox:checked ~ .navigation__mobile {
    width: 35%;
    height: 100vh;
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 15rem 1.5rem; }
    .navigation__checkbox:checked ~ .navigation__mobile .navigation__list {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      padding: 0; }
      .navigation__checkbox:checked ~ .navigation__mobile .navigation__list .navigation__item {
        width: 100%;
        text-align: right;
        margin: 1rem 0; }
        .navigation__checkbox:checked ~ .navigation__mobile .navigation__list .navigation__item--dropdown:hover .dropdown,
        .navigation__checkbox:checked ~ .navigation__mobile .navigation__list .navigation__item--dropdown:focus-within .dropdown {
          display: block;
          position: absolute;
          left: 105%;
          top: 0;
          transform: translateY(0);
          width: 100%; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      display: inline-block;
      width: 3rem;
      height: 2px;
      background-color: #fff; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__icon::before {
      top: -0.8rem;
      transform-origin: center; }
    .navigation__icon::after {
      top: 0.8rem;
      transform-origin: center; }
  .navigation__button:hover .navigation__icon::before {
    top: calc(-0.8rem - 0.2rem); }
  .navigation__button:hover .navigation__icon::after {
    top: calc(0.8rem + 0.2rem); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 50%;
    transform: rotate(135deg);
    background-color: #fff; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 50%;
    transform: rotate(-135deg);
    background-color: #fff; }
  .navigation__button {
    height: 7rem;
    width: 7rem;
    transition: right 0.3s ease;
    z-index: 2000; }
    @media (min-width: 56.3125em) and (max-width: 75em) {
      .navigation__button {
        top: 4rem; } }
  .navigation__mobile {
    width: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    background-color: #000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    display: flex; }
    .navigation__mobile__list {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0; }
  .navigation__navbar {
    padding: 0.5rem 0;
    justify-content: center;
    border-top: 1px solid #a0b6c6;
    width: 50%; }
  .navigation__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0; }
    @media (max-width: 37.5em) {
      .navigation__list {
        flex-direction: column;
        align-items: center; } }
    @media (min-width: 37.5625em) and (max-width: 56.25em) {
      .navigation__list {
        flex-direction: column;
        align-items: center; } }
  .navigation__item {
    text-decoration: none;
    position: relative;
    border-bottom: 1px solid #a0b6c6; }
    .navigation__item:hover .navigation__link, .navigation__item:focus-within .navigation__link {
      transform: translateY(-0.3rem);
      color: #fff;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .navigation__item:hover .dropdown, .navigation__item:focus-within .dropdown {
      display: block; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 2.335rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: #777777;
    transition: transform 0.3s, color 0.3s, box-shadow 0.3s; }
  .navigation__link:hover {
    transform: translateY(-0.3rem);
    color: #333;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .navigation__link:active {
    transform: translateY(-0.6rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .navigation__item--dropdown .dropdown {
    padding: 0;
    display: none;
    position: absolute;
    background-color: transparent;
    box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    z-index: 100; }
    .navigation__item--dropdown .dropdown .dropdown__item {
      list-style: none;
      text-align: center; }
      .navigation__item--dropdown .dropdown .dropdown__item .dropdown__link:link, .navigation__item--dropdown .dropdown .dropdown__item .dropdown__link:visited {
        width: 66%;
        font-size: 1.75rem;
        font-weight: 500;
        display: inline-block;
        padding: 0.5rem 8rem;
        color: #777777;
        text-decoration: none;
        text-align: center;
        border-radius: 1px;
        background-color: #fff;
        transition: 0.1s, background-color 0.1s;
        border: 1px solid #fff; }
        @media (max-width: 37.5em) {
          .navigation__item--dropdown .dropdown .dropdown__item .dropdown__link:link, .navigation__item--dropdown .dropdown .dropdown__item .dropdown__link:visited {
            width: 49%; } }
      .navigation__item--dropdown .dropdown .dropdown__item .dropdown__link:hover {
        color: #fff;
        background-image: radial-gradient(#1a1a1a, #000);
        box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
        transform: translateY(-0.1rem); }
      .navigation__item--dropdown .dropdown .dropdown__item .dropdown__link:active {
        box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
        transform: translateY(-0.2rem); }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(160, 182, 198, 0.8), rgba(55, 76, 92, 0.8)), url(../img/sydneyharb-1.jpg);
  background-size: cover;
  background-position: center; }
  @media (min-width: 37.5625em) and (max-width: 56.25em) {
    .section-features {
      padding: 15rem 0; } }

.section-contact {
  margin: 5rem 0;
  padding: 1.5rem 0.5rem;
  background-image: linear-gradient(to right bottom, rgba(160, 182, 198, 0.8), rgba(55, 76, 92, 0.8)), url(../img/herojob.jpg);
  background-size: cover;
  background-position: center; }

.contact {
  margin: 0 auto;
  width: 95%;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 55.5%, transparent 50%), url(../img/sydneyharb-1.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  height: 100%; }
  .contact__form {
    width: 50%;
    padding: 4rem; }

.section-testimonial {
  padding: 9rem 1.5rem; }
  .section-testimonial .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    align-items: center;
    margin: 0 auto; }
    @media (max-width: 37.5em) {
      .section-testimonial .grid {
        grid-template-columns: 1fr; }
        .section-testimonial .grid .grid__item--4-cols,
        .section-testimonial .grid .grid__item--2-cols {
          grid-column: span 1; } }

.section-gallery {
  overflow-x: hidden; }

.section-about {
  width: 90%;
  margin: 0 auto;
  background-color: #fefefe;
  padding: 1.5rem 0.5rem; }
  @media (min-width: 37.5625em) and (max-width: 56.25em) {
    .section-about {
      padding: 15rem 0; } }
  .section-about .grid {
    width: 95%;
    gap: 5rem;
    align-items: center; }
    @media (min-width: 37.5625em) and (max-width: 56.25em) {
      .section-about .grid .grid__item--2-cols {
        grid-column: span 1; } }
    @media (max-width: 37.5em) {
      .section-about .grid .grid__item--2-cols {
        grid-column: span 1; } }
    @media (min-width: 56.3125em) and (max-width: 75em) {
      .section-about .grid .grid__item--4-cols {
        grid-column: span 2; } }
    @media (min-width: 37.5625em) and (max-width: 56.25em) {
      .section-about .grid .grid__item--4-cols {
        grid-column: span 2; } }
    @media (max-width: 37.5em) {
      .section-about .grid .grid__item--4-cols {
        grid-column: span 1; } }
