/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgb(39, 180, 133, 0.8)
    ),
    url(../img/herobeach.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 200px;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Absolute/Relative positioning relates to the PARENT ELEMENT */
  /* transform: translate() relates to the ELEMENT ITSELF */
  text-align: center;
  /* text align to center ALL the text-box's text */
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* backface-visibllity is used to prevent the text from flickering when the animation is applied */
  margin-bottom: 3rem;
}

.heading-primary-main {
  display: block;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 20px;

  animation: moveInLeft 2.5s ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 13px;

  animation: moveInRight 2.5s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/*keyframes for the button's popout animation */
@keyframes popout {
  0% {
    transform: scaleX(1) scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
}

/* keyframes for the button's fade-in animation */
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2.3rem;
  display: inline-block;
  border-radius: 100px;
  position: relative;
  background-color: #fff;
  color: #777;
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
  /* Keep the hover effect */
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:focus {
  outline: none; /* Removes the outline on focus */
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #fff;
  transition: none; /* No transition on the pseudo-element */
}

/* Trigger my animation when the button is focused */
.btn:focus::after {
  animation: popout 0.75s forwards;
}

.btn-animated {
  animation: moveInBottom 1.65s ease-out 0.75s;
  /* The animation will start 0.75s after the page loads */
  animation-fill-mode: backwards;
  /* The animation will start from the beginning */
}
