// Variables
// -------------------------
// Colors
$color-primary: #777777;
$color-primary-light: rgb(160, 182, 198);
$color-primary-dark: rgb(55, 76, 92);

$color-grey-light-1: #fefefe;

$color-grey-light: #5f5f5f;
$color-grey-dark: #777777;
$color-white: #fff;
$color-black: #000;

// Breakpoints
$default-font-size: 1.6rem;
$breakpoint-tablet: 768px;
$breakpoint-phone: 576px;
$breakpoint-laptop: 1024px;
