.footer {
  background-color: $color-black;
  padding: 10rem 3rem;
  font-size: 1.4rem;

  &__logo-box {
    text-align: center;
    margin: 0 auto;
  }

  &__logo {
    height: 30rem;
  }

  &__navigation {
    align-items: center;
  }

  &__list {
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 0.5rem 0;
  }

  &__link {
    &:link,
    &:visited {
      color: $color-grey-light-1;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $color-grey-light-2;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      transform: translateY(-3px);
    }
  }

  .footer__socials {
    &-links {
      list-style: none;
      text-align: center;
      display: flex;
      justify-content: space-between;
      gap: 2rem;

      & > a {
        &:link,
        &:visited {
          color: $color-grey-light-1;
          text-decoration: none;
          display: inline-block;
          transition: all 0.2s;
        }

        &:hover,
        &:active {
          color: $color-grey-light-2;
          box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
          transform: translateY(-3px);
        }
      }
    }
  }

  &__copyright {
    text-align: center;
    font-size: 1.2rem;
    color: $color-grey-light-1;

    & .paragraph {
      margin: 0 auto;
      width: 75%;
    }
  }
}
