.grid {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Default to 2 columns */
  gap: 3rem;

  &__item {
    // background-color: red;
    color: $color-grey-dark;
    padding: 1rem;
    border-radius: 0.4rem;

    &--1-col {
      grid-column: span 1;
    }
    &--2-cols {
      grid-column: span 2;
    }
    &--3-cols {
      grid-column: span 3;
    }
    &--4-cols {
      grid-column: span 4;
    }
  }
}
/* Responsive breakpoints */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(1fr); // 2 columns for medium screens
  }
}

.heading-tertiary {
  br {
    display: none; // Removes line breaks on smaller screens if needed
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr); // 3 columns for larger screens
  }
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(4, 1fr); // 4 columns for extra-large screens
  }

  .composition {
    &__photo {
      width: 150%;
    }
  }
}
