.grid {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr; /* Default to 1 columns */
  gap: 3rem;

  &__item {
    // background-color: red;
    color: $color-grey-dark;
    padding: 1rem;
    border-radius: 0.4rem;

    &--1-col {
      grid-column: span 1;
    }
    &--2-cols {
      grid-column: span 2;
    }
    &--3-cols {
      grid-column: span 3;
    }
    &--4-cols {
      grid-column: span 4;
    }
  }
}
