.navigation {
  margin-left: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $color-black;
  font-family: inherit;
  box-shadow: 0 1rem 1rem rgba($color-black, 0.1);

  //Navigation height defined via logo size
  &__logo {
    overflow-x: hidden; //it doesn't, but just in case
    height: auto;
    width: auto;

    @include respond(big-desktop) {
      max-height: 30rem;
    }

    @include respond(desktop) {
      max-height: 20rem;
    }

    @include respond(tab-land) {
      max-height: 15rem;
    }

    @include respond(tab-port) {
      max-height: 10rem;
    }

    @include respond(phone) {
      max-height: 10rem;
    }
  }
  &__cta {
    padding-left: 1rem;
    .btn {
      @include respond(phone) {
        font-size: 1.4rem;
        padding: 1.5rem 2rem;
      }
    }
  }
  //NAV FUNCTIONALITY

  &__checkbox {
    display: none;
  }

  &__navbar {
    display: none; //hidden on mobiles
  }
  &__button {
    display: inline-block;
  }

  @include respond(tab-land) {
    &__navbar {
      display: none;
    }
    &__button {
      display: inline-block;
    }
  }

  @include respond(desktop) {
    &__navbar {
      display: flex;
    }
    &__button {
      display: none;
    }
  }

  &__checkbox:checked ~ &__mobile,
  &__button,
  &__icon {
    @include respond(tab-port) {
      transform: scale(1.1);
    }
  }

  //Mobile Menu changes
  &__checkbox:checked ~ &__mobile {
    width: 35%;
    height: 100vh;
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 15rem 1.5rem;

    .navigation__list {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      padding: 0;

      .navigation__item {
        width: 100%;
        text-align: right;
        margin: 1rem 0;

        &--dropdown {
          &:hover .dropdown,
          &:focus-within .dropdown {
            display: block;
            position: absolute;
            left: 105%;
            top: 0;
            transform: translateY(0);
            width: 100%;
          }
        }
      }
    }
  }
  &__icon {
    position: relative;
    margin-top: 3.5rem;
    &,
    &::before,
    &::after {
      display: inline-block;
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-2;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
      transform-origin: center;
    }
    &::after {
      top: 0.8rem;
      transform-origin: center;
    }
  }

  &__button:hover &__icon::before {
    top: calc(-0.8rem - 0.2rem);
  }

  &__button:hover &__icon::after {
    top: calc(0.8rem + 0.2rem);
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 50%;
    transform: rotate(135deg);
    background-color: $color-primary;
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 50%;
    transform: rotate(-135deg);
    background-color: $color-primary;
  }

  &__button {
    height: 7rem;
    width: 7rem;
    border-radius: 25%;
    background-color: $color-white;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    transition: right 0.3s ease;
    z-index: 2000;

    @include respond(tab-land) {
      top: 4rem;
    }
  }

  &__mobile {
    width: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    background-image: radial-gradient($color-grey-dark-2, $color-black);

    display: flex;

    &__list {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0;
    }
  }

  &__navbar {
    padding: 0.5rem 0;
    justify-content: center;
    border-top: 1px solid $color-primary-light;
    width: 50%;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;

    @include respond(phone) {
      flex-direction: column;
      align-items: center;
    }

    @include respond(tab-port) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    text-decoration: none;
    position: relative;
    border-bottom: 1px solid $color-primary-light;
    &:hover,
    &:focus-within {
      .navigation__link {
        transform: translateY(-0.3rem);
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
      }

      .dropdown {
        display: block; // Display dropdown on hover or focus within
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 2.335rem;
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
      color: $color-primary;
      transition: transform 0.3s, color 0.3s, box-shadow 0.3s;
    }

    &:hover {
      transform: translateY(-0.3rem);
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }
    &:active {
      transform: translateY(-0.6rem);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }
  }

  &__item--dropdown {
    .dropdown {
      padding: 0;
      display: none; //  hidden
      position: absolute;
      background-color: $color-white;
      box-shadow: 0 0.8rem 1.6rem rgba($color-black, 0.2);
      border-radius: 3px;
      z-index: 100;

      .dropdown__item {
        list-style: none;
        text-align: center;
        .dropdown__link {
          &:link,
          &:visited {
            width: 66%;

            @include respond(phone) {
              width: 49%;
            }

            font-size: 1.75rem;
            font-weight: 500;
            display: inline-block;
            padding: 0.5rem 8rem;
            color: $color-black;
            text-decoration: none;
            text-align: center;
            border-radius: 3px;
            background-color: #fefefe;
            transition: 0.1s, background-color 0.1s;
          }

          &:hover {
            color: $color-white;
            background-image: radial-gradient(#1a1a1a, $color-black);
            box-shadow: 0 0.5rem 0.5rem rgba($color-black, 0.1);
            transform: translateY(-0.1rem);
          }
          &:active {
            box-shadow: 0 0.5rem 0.5rem rgba($color-black, 0.2);
            transform: translateY(-0.2rem);
          }
        }
      }
    }
  }
}
