.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-black;
  font-family: inherit;
  box-shadow: 0 1rem 1rem rgba($color-black, 0.4);

  &__checkbox,
  &__button,
  &__icon {
    display: none; // none for desktop
  }

  &__navbar {
    padding: 0.5rem 0;
    justify-content: center;
    border-top: 1px solid $color-primary-light;
    margin: 0 auto;
    width: 50%;
    margin-left: 25%;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
  }

  &__item {
    text-decoration: none;
    position: relative;
    &:hover,
    &:focus-within {
      .navigation__link {
        transform: translateY(-0.3rem);
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
      }

      .dropdown {
        display: block; // Display dropdown on hover or focus within
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 2.5rem;
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
      color: $color-primary;
      transition: transform 0.3s, color 0.3s, box-shadow 0.3s;
    }

    &:hover {
      transform: translateY(-0.3rem);
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }
    &:active {
      transform: translateY(-0.6rem);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }
  }

  &__item--dropdown {
    .dropdown {
      padding: 0;
      display: none; //  hidden
      position: absolute;
      background-color: $color-white;
      box-shadow: 0 0.8rem 1.6rem rgba($color-black, 0.2);
      border-radius: 3px;
      z-index: 100;

      .dropdown__item {
        list-style: none;
        text-align: center;

        .dropdown__link {
          &:link,
          &:visited {
            width: 66%;

            @include respond(phone) {
              width: 49%;
            }

            font-size: 1.75rem;
            font-weight: 500;
            display: inline-block;
            padding: 0.5rem 8rem;
            color: $color-black;
            text-decoration: none;
            border-radius: 3px;
            background-color: #fefefe;
            transition: 0.1s, background-color 0.1s;
          }

          &:hover {
            color: $color-white;
            background-image: radial-gradient(#1a1a1a, $color-black);
            box-shadow: 0 0.5rem 0.5rem rgba($color-black, 0.1);
            transform: translateY(-0.1rem);
          }
          &:active {
            box-shadow: 0 0.5rem 0.5rem rgba($color-black, 0.2);
            transform: translateY(-0.2rem);
          }
        }
      }
    }
  }

  //Navigation height set via sizing of logo
  &__logo {
    overflow-x: hidden;
    height: auto;
    width: auto;

    @include respond(big-desktop) {
      max-height: 30rem;
    }

    @include respond(desktop) {
      max-height: 20rem;
    }

    @include respond(tab-land) {
      max-height: 15rem;
    }

    @include respond(tab-port) {
      max-height: 10rem;
    }

    @include respond(phone) {
      max-height: 10rem;
    }
  }
}
