.composition {
  width: 100%;

  &__container {
    text-align: center;
    width: 100%;
  }
  &__photo {
    width: 100%;
    height: auto;

    @include respond(phone) {
      width: 60%;
    }

    @include respond(tab-port) {
      width: 100%;
    }

    @include respond(tab-land) {
      max-width: 75%;
      height: auto;
    }

    @include respond(desktop) {
      max-width: 75%;
    }
  }
}
