.composition {
  width: 100%;

  &__container {
    text-align: center;
    width: 100%;
  }
  &__photo {
    width: 100%;
    height: auto;

    &--second {
      @include respond(tab-port) {
        width: 100%;
        max-width: none;
      }

      @include respond(desktop) {
        max-width: 100%;
        height: auto;
        margin-left: -5%;
      }
    }
    @include respond(tab-port) {
      max-width: 65%;
    }

    @include respond(tab-land) {
      max-width: 75%;
      height: auto;
    }

    @include respond(desktop) {
      max-width: 75%;
    }
  }
}
