.header {
  text-align: center;
  overflow-x: hidden;
  margin-bottom: 5rem;
  height: 45vh;
  background-size: cover;
  background-position: center;

  &--home {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-dark, 0.3),
        rgba($color-primary-light, 0.3)
      ),
      url(../img/headerphoto.jpg);
  }
  &--about {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-dark, 0.3),
        rgba($color-primary-light, 0.3)
      ),
      url(../img/julzabout1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include respond(phone) {
      background-position: 0 0;
      background-size: 100% 100%;
    }
  }

  &--landscaping {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-dark, 0.3),
        rgba($color-primary-light, 0.3)
      ),
      url(../img/landscaping2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--carpentry {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-dark, 0.3),
        rgba($color-primary-light, 0.3)
      ),
      url(../img/carpentry2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--hedging {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-dark, 0.3),
        rgba($color-primary-light, 0.3)
      ),
      url(../img/hedging5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--property {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-dark, 0.3),
        rgba($color-primary-light, 0.3)
      ),
      url(../img/property2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--emergency {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-dark, 0.3),
        rgba($color-primary-light, 0.3)
      ),
      url(../img/emergency3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__text-box {
    padding: 1.5rem 0.5rem;
  }

  &__btn-box {
    margin-top: 47vh;

    @include respond(tab-land) {
      margin-top: 45vh;
    }

    @include respond(tab-port) {
      margin-top: 40vh;
    }
    @include respond(phone) {
      margin-top: 37vh;
    }
  }
}
