.header {
  text-align: center;
  overflow-x: hidden;
  margin-bottom: 5rem;
  height: 50vh;
  background-size: cover;
  background-position: center;

  &--home {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-dark, 0.3),
        rgba($color-primary-light, 0.3)
      ),
      url(../img/herojob.jpg);
  }
  &--about {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-dark, 0.3),
        rgba($color-primary-light, 0.3)
      ),
      url(../img/julzabout1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include respond(phone) {
      background-position: 0 0;
      background-size: 100% 100%;
    }
  }

  &__text-box {
    padding: 5rem 2.5rem;
  }

  &__btn-box {
    margin-top: 47vh;

    @include respond(tab-land) {
      margin-top: 45vh;
    }

    @include respond(tab-port) {
      margin-top: 40vh;
    }
    @include respond(phone) {
      margin-top: 37vh;
    }
  }
}
