.header {
  text-align: center;
  overflow-x: hidden;
  height: 65vh;
  margin-bottom: 5rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-dark, 0.8),
      rgba($color-primary-light, 0.8)
    ),
    url(../img/herojob.jpg);
  background-size: fit-content;
  background-position: center;

  &__text-box {
    padding: 0 2.5rem;
    text-align: center;
    margin-top: 10vh;
  }

  &__btn-box {
    margin-top: 47vh;

    @include respond(tab-land) {
      margin-top: 45vh;
    }

    @include respond(tab-port) {
      margin-top: 40vh;
    }
    @include respond(phone) {
      margin-top: 37vh;
    }
  }
}
