* {
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
}

html {
  font-size: 62.5%;
  // 1rem = 10px - 10px/16px = 62.5%*

  @include respond(phone) {
    font-size: 47.5%;
    //1rem = 6px
    grid-template-columns: repeat(1, 1fr); // 1 columns for smol screens
  }
  @include respond(tab-port) {
    font-size: 50%;
    .grid {
      grid-template-columns: repeat(2, 1fr); // 1 columns for medium screens
    }
  }

  @include respond(tab-land) {
    font-size: 55%;
    .grid {
      grid-template-columns: repeat(2, 1fr); // 2 columns for big-smol screens
    }
  }

  @include respond(desktop) {
    font-size: 70%;
    .grid {
      grid-template-columns: repeat(
        2,
        1fr
      ); // 2 columns for extra-large screens
    }
  }

  @include respond(big-desktop) {
    font-size: 77%;
    .grid {
      grid-template-columns: repeat(
        4,
        1fr
      ); // 4 columns for extra-large screens
    }
  }
}

body {
  box-sizing: border-box;
  padding: 1.5rem;
  background-color: $color-white;

  @include respond(phone) {
    padding: 0;
    margin: 0;
  }

  @include respond(tab-port) {
    margin: 0;
    padding: 0;
  }

  @include respond(tab-land) {
    margin: 0;
    padding: 0;
  }

  @include respond(desktop) {
    margin: 0;
    padding: 0;
  }
}
