.u-center-text {
  text-align: center;
}

.u-brdr-none {
  border: none;
}

.u-mr-btm-sm {
  margin-bottom: 1.5rem;
}

.u-mr-btm-md {
  margin-bottom: 4rem;
}

.u-mr-btm-lg {
  margin-bottom: 8rem;
}

.u-mr-l-sm {
  margin-left: 1.5rem;
}

.u-mr-l-md {
  margin-left: 4rem;
}

.u-mr-l-lg {
  margin-left: 8rem;
}

.u-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
