.section-about {
  width: 100%;
  margin: 0 auto;
  background-color: #f7f7f7;
  box-shadow: 0 0.5rem 0.5rem rgba($color-black, 0.1);
  padding: 6rem 0.5rem;

  @include respond(tab-port) {
    padding: 15rem 0;
  }

  .grid {
    width: 95%;
    gap: 5rem;
    align-items: center;

    .grid__item {
      &--2-cols {
        @include respond(tab-port) {
          grid-column: span 1;
        }
        @include respond(phone) {
          grid-column: span 1;
        }
      }
      &--4-cols {
        @include respond(tab-land) {
          grid-column: span 2;
        }
        @include respond(tab-port) {
          grid-column: span 2;
        }
        @include respond(phone) {
          grid-column: span 1;
        }
      }
    }
  }
}
