.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/sydneyharb-1.jpg);
  background-size: cover;
  background-position: center;
  // clip-path: polygon(100% 0, 100% 75vh, 0 100%, 0 7vh); going to leave this for now

  @include respond(tab-port) {
    padding: 15rem 0;
  }
}

.section-contact {
  padding: 15rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/herojob.jpg);
  background-size: cover;
  background-position: center;
}

.contact {
  width: 99%;
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 55.5%,
      transparent 50%
    ),
    url(../img/sydneyharb-1.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
  height: 100%;

  &__form {
    width: 50%;
    padding: 4rem;
  }
}

.section-testimonial {
  padding: 9rem 1.5rem;

  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    align-items: center;
    margin: 0 auto;

    @include respond(phone) {
      grid-template-columns: 1fr;

      .grid__item--4-cols,
      .grid__item--2-cols {
        grid-column: span 1; // Each item spans 2 columns in tablet landscape
      }
    }
  }
}

.section-gallery {
  overflow-x: hidden;
}
